nav.header-nav ul{
  display: inline-block;
}
nav.header-nav ul li{
  display: inline-block;
}
nav.header-nav ul.header-logo li a{
  text-decoration: none;
  color: green;
  font-weight: bolder;
  font-size: 25px;
}
nav.header-nav ul.header-ul-links li a{
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 10px;
  color: #333;
  font-weight: 500;
  font-size: 16px;
}
nav.header-nav ul.header-ul-links{
  text-align: center;
  margin-right: 20px;
}
.welcome{
  color: green;
}
.wel-txt{
  text-align: center;
  padding: 20px 0px;
  border: 2px solid #333;
  margin: 50px 12px;
  box-shadow: 5px 10px 5px #333;
  max-width: 80%;
  margin: 20px auto;
}

.banner-image{
  max-height: 500px;
  object-fit: cover;
}

.benefits-component{
  background-color: #002c3e;
  max-width: 300px;
  color: #fff;
  min-height: 150px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  border-radius: 5px;
}

.benefits-maindiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.benicons svg{
  font-size: 50px;
}
h1.whyshopwithus{
  text-align: center;
  text-transform: capitalize;
  color: #0c0c0c;
}